Pods
.gradle
.idea
.kotlin
build
*.xcworkspace
*.hprof
local.properties
.DS_Store
**/.DS_Store
.terraform
/gradle-plugin/gradle/wrapper/gradle-wrapper.jar
/gradle-plugin/gradle/wrapper/gradle-wrapper.properties
node_modules

local.version.txt
version.js
local
settings.json
settings.suggested.json
package-lock.json

testing/settings.json
testing/settings.suggested.json
testing/.backend.log
testing/.frontend.log
testing/.scripts-source.log
testing/.scripts-version.log
